<header>
    <div class="grid-x grid-margin-x header">
        <div class="cell small-12 medium-4 large-3">
            <a href="{% url 'home_app:index' %}" style="font-size: 20px; color: #0277bd;">
                FUNDACION CRISTO REDENTOR
            </a>
        </div>
        <div class="cell small-12 medium-2">

        </div>




        <div class="cell small-12 large-7">
            <ul class="dropdown menu" data-dropdown-menu style="justify-content: flex-end;">
                <li>
                    <h4>{{user.username}}</h4>
                </li>
                <li>
                    <a href="{% url 'home_app:index' %}">Inicio</a>

                </li>
                <li>
                    <a href="#">Actividades</a>
                </li>
                <li>
                    <a href="#">Servicios</a>
                    <ul class="menu">
                        <li><a href="#">Recreacion y Social</a></li>
                        <li><a href="#">Alojamiento</a></li>
                    </ul>
                </li>
                <li><a href="#">Fundación</a>
                    <ul class="menu">
                        <li><a href="{% url 'users_app:user-create' %}">Crear usuario</a></li>
                        <li><a href="#">Alojamiento</a></li>
                    </ul>
                </li>
                <li>
                    <a class="success button" href="{% url 'users_app:user-login' %}">Acceder</a>
                </li>
                <li>
                    <a class="primary button" href="{% url 'users_app:user-logout' %}">Salir</a>
                </li>

            </ul>
        </div>
    </div>

</header>