<!-- head para PC -->
{% extends "users/base_users.html" %}
{% load static %}

{% block title %} Crear Usuarios {% endblock %}

{% block content %}

{% include "includes/header.html" %}

<div class="container">
    <div class="card">

        <div class="card-body">
            <h4 class="card-header text-center">INGRESE DATOS DEL USUARIO</h4>
            <form class="row g-3" method="post" enctype="multipart/form-data"> {% csrf_token%}

                <div class="row">
                    <hr class="dropdown-divider">
                    <div class="col-6">
                        <label class="form-label">Usuario:
                            {{form.username}}
                        </label>
                    </div>
                    <div class="col-6">
                        <label class="form-label">Correo:
                            {{form.email}}
                        </label>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Nombres:
                            {{form.nombres}}
                        </label>
                    </div>
                    <div class="col-6">
                        <label class="form-label">Apellidos:
                            {{form.apellidos}}
                        </label>
                    </div>
                    <div class="col-6">
                        <label class="form-label">Genero:
                            {{form.genero}}
                        </label>
                    </div>
                    <div class="col-6">
                        <label class="form-label">Permiso:
                            {{form.ocupation}}
                        </label>
                    </div>
                    <div class="col-6">
                        <label class="form-label">Contraseña:
                            {{form.password1}}
                        </label>
                    </div>

                    <div class="col-6">
                        <label class="form-label">Repetir Contraseña:
                            {{form.password2}}
                        </label>


                        {% for e in form.password2.errors %}
                        <p style="color:red">{{e}}</p>
                        {% endfor %}
                    </div>

                </div>

                <button type="submit" class=" col-12 btn btn-outline-success">Registrar</button>
            </form>
            <hr class="dropdown-divider">
            <div class="col-8 margin-top: 2em">
                <a href="{% url 'users_app:user-listado' %}" class="btn btn-outline-secondary">Regresar al Listado</a>
            </div>


        </div>
    </div>

</div>

{% endblock content %}