{% extends "users/base_users.html" %}
{% load static %}

{% block title %} Actualizar Usuarios {% endblock %}

{% block content %}

{% include "includes/header.html" %}

<div class="grid-container altura">
    <div class="grid-x grid-margin-x align-center">
        <div class="cell medium-6 large-4" style="margin-top: 2em;">
            <div class="card" style="width: 100%;">
                <div class="card-divider">
                    <h4>Cambiar la Contraseña de: {{user.get_full_name}}</h4>
                </div>
                <div class="card-section">
                    <form class="grid-x grid-margin-x " method="post">{% csrf_token%}
                        <div class="cell medium-12">

                            {{form.as_p}}

                        </div>
                        <button type="submit" class="cell hollow button primary">Actualizar contraseña</button>
                    </form>
                    <p>La fecha: {{fecha}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}